// media queries breakpoint;
$xSmall: "max-width:575px"; 
$small: "min-width: 576px"; 
$mxSmall: "max-width:767px";
$medium: "min-width: 768px"; 
$large: "min-width: 992px";
$xLarge: "min-width: 1200px";
$xxLarge: "min-width: 1400px";

// colors

$redColor: #e2494c;
$greyColor: #9c9c9c;
$titleColor : #515151;
$footerColor: #e2e2e2

