body {
    font: {
        family: tahoma, arial;
        size: 16px
    };
}
ul, li {
    list-style: none;
    padding: 0;
}

.the-toggler {
    height: 135px !important; 
    padding: 20px 15px !important;
}